### Dmitriy Semushin
## Bookmate test problem for Junior Analyst job opening

Import pandas for reading the data and populating the datebase, and sqlite3 to create the database and make queries:

In [1]:
import pandas as pd
from sqlite3 import dbapi2 as sq3

Load the data into a dataframe:

In [2]:
fileurl = 'https://s3.amazonaws.com/bookmate/analyst_test.csv'
df = pd.read_csv(fileurl, parse_dates=[1])
df.head()

   user_id          started_at
0     2066 2015-05-01 05:42:46
1     7931 2015-05-01 06:20:15
2     3736 2015-05-01 08:11:58
3     1604 2015-05-01 11:00:08
4      886 2015-05-02 03:55:39

Create a database:

In [3]:
db = sq3.connect('payments.db')

Make the schema for a table "paylogs" and create that table:

In [4]:
plog_schema = """
DROP TABLE IF EXISTS "paylogs";
CREATE TABLE "paylogs" (
    id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    user_id INTEGER NOT NULL,
    started_at DATETIME
);
"""
db.cursor().executescript(plog_schema)
db.commit()

Populate the table from the dataframe:

In [5]:
df.to_sql("paylogs", db, if_exists='append', index = False)

Create a function for execution of queries:

In [6]:
def query(sel):
    return db.cursor().execute(sel).fetchall()

Let's first find out how many users there are:

In [7]:
sel = """
SELECT COUNT(DISTINCT user_id)
  FROM paylogs;
"""
query(sel)

[(115,)]

Designate a variable `selmon` for a subquery that will be later used in different queries:

In [8]:
selmon = """
SELECT user_id, strftime("%m %Y", started_at) as month,
       12*strftime("%Y", started_at) + strftime("%m", started_at) AS m
  FROM paylogs
"""

Query that counts new users:

In [9]:
selnew = """
SELECT month, COUNT(DISTINCT user_id) AS new
  FROM ({0}
        )
 WHERE m = (SELECT maxm
              FROM (SELECT user_id AS u,
                           MAX(m) AS maxm
                      FROM ({0}
                            )
                     GROUP BY u
                    )
             WHERE u = user_id
            )
 GROUP BY month;
""".format(selmon)
query(selnew)

[('05 2015', 15), ('06 2015', 26), ('07 2015', 73), ('08 2015', 1)]

Query that counts recurrent users:

In [10]:
selrecur = """
SELECT a.month, COUNT(DISTINCT a.user_id) AS recurrent
  FROM ({0}
        ) AS a
 WHERE m IN (SELECT m
              FROM ({0}
                    ) AS b
             WHERE b.user_id = a.user_id
            )
   AND m-1 IN (SELECT m
                 FROM ({0}
                       ) AS c
                WHERE c.user_id = a.user_id
               )
 GROUP BY a.month;
""".format(selmon)
query(selrecur)

[('06 2015', 79), ('07 2015', 68)]

Query that counts reactivated users:

In [11]:
selreac = """
SELECT a.month, COUNT(DISTINCT a.user_id) AS reactivated
  FROM ({0}
        ) AS a
 WHERE m IN (SELECT m
              FROM ({0}
                    ) AS b
             WHERE b.user_id = a.user_id
            )
   AND NOT m-1 IN (SELECT m
                     FROM ({0}
                           ) AS c
                    WHERE c.user_id = a.user_id
                   )
   AND m > (SELECT minm
              FROM (SELECT user_id AS u,
                           MIN(m) AS minm
                      FROM ({0}
                            )
                     GROUP BY u
                    )
             WHERE u = a.user_id
            )
 GROUP BY a.month;
""".format(selmon)
query(selreac)

[('07 2015', 5), ('08 2015', 1)]

Query that counts churned users:

In [12]:
selchurn = """
SELECT a.month, COUNT(DISTINCT a.user_id) AS churned
  FROM ({0}
        ) AS a
 WHERE NOT m+1 IN (SELECT m
                     FROM ({0}
                           ) AS b
                    WHERE b.user_id = a.user_id
                   )
   AND m IN (SELECT m
                 FROM ({0}
                       ) AS c
                WHERE c.user_id = a.user_id
               )
   AND NOT m = (SELECT MAX(m) FROM ({0}))
 GROUP BY a.month;
""".format(selmon)
query(selchurn)

[('05 2015', 21), ('06 2015', 26), ('07 2015', 73)]