In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("notebook")
from sqlite3 import dbapi2 as sq3
import os

In [2]:
fileurl = 'https://s3.amazonaws.com/bookmate/analyst_test.csv'
df = pd.read_csv(fileurl, parse_dates=[1])
df.head()

   user_id          started_at
0     2066 2015-05-01 05:42:46
1     7931 2015-05-01 06:20:15
2     3736 2015-05-01 08:11:58
3     1604 2015-05-01 11:00:08
4      886 2015-05-02 03:55:39

In [3]:
type(df.started_at[0])

pandas._libs.tslib.Timestamp

In [4]:
db = sq3.connect('payments.db')

In [5]:
plog_schema = """
DROP TABLE IF EXISTS "payments";
CREATE TABLE "paylogs" (
    id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    user_id INTEGER NOT NULL,
    started_at DATETIME
);
"""